.main-content__speakers {
    padding: 40px 20px;
    color: #fff;
  
    
  
    &__content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      align-items: flex-start;
      overflow: hidden;
    }
  
  }
  