@import '../ui/syless/mixins.scss';
@import '../ui/syless/variables.scss';

.footer {
  background: $color-footer-bg; 
  color: $color-footer-text;    
  font-size: 0.9rem;
  border-top: 1px solid $color-border;
  @include padding($spacing-small, 20px);

  &__container {
    @include flex-center(space-between, center);
    width: 100%;
  }

  &__text {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__icons {
    display: flex;
    gap: $spacing-small;

    &__svg { 
      width: $icon-size;
      height: $icon-size;
      @include icon-hover($color-icon-hover);
    }
    
  }

}