// Archivo: header.component.scss

@import '../ui/syless/mixins.scss';
@import '../ui/syless/variables.scss';

.header {
  padding: $spacing-unit 2rem;
  @include flex-center(space-between, center); // Usando el mixin para flexbox
  border-bottom: 1px solid $color-border;

  &__date {
    @include font-mono(0.9rem); // Usando el mixin para fuente mono
    color: $color-accent;
  }

  &__nav {
    @include flex-center(flex-start, center); // Usando el mixin para flexbox
    gap: $spacing-unit;

    &__link {
      text-decoration: none;
      color: $color-text;
      font-weight: bold;
      font-size: 0.95rem;
      text-transform: uppercase;
      @include transition(color); // Usando el mixin para transiciones

      &:hover {
        color: $color-accent;
      }
    }
  }
}
