<section class="main-content__highlights">
    <div class="highlights__container">
      
      <div class="highlights__arrows">
        <span class="highlights__arrows-corner highlights__arrows-corner--top-left"></span>
        <span class="highlights__arrows-corner highlights__arrows-corner--top-right"></span>
        <span class="highlights__arrows-corner highlights__arrows-corner--bottom-left"></span>
        <span class="highlights__arrows-corner highlights__arrows-corner--bottom-right"></span>
      </div>
  
      
      <div class="highlights__video">
        <article class="yt-lite" data-title="Vercel Ship 2024 Keynote" style="background-image: url('https://i.ytimg.com/vi_webp/CHP3aDTP5Qo/maxresdefault.webp');">
          <button class="yt-lite__playbtn" aria-label="Watch Vercel Ship 2024 Keynote"></button>
        </article>
      </div>
  
      <aside class="highlights__aside">
        <h3 class="highlights__title">Highlights</h3>
        <ul class="highlights__list">
          <li class="highlights__item">
            <span class="highlights__icon">🔗</span>
            <span class="highlights__text">Create your MVP with v0</span>
          </li>
          <li class="highlights__item">
            <span class="highlights__icon">🔧</span>
            <span class="highlights__text">Explore all the Vercel Toolbar has to offer</span>
          </li>
          <li class="highlights__item">
            <span class="highlights__icon">🌟</span>
            <span class="highlights__text">See what's possible with Feature Flags on Vercel</span>
          </li>
          <li class="highlights__item">
            <span class="highlights__icon">🔒</span>
            <span class="highlights__text">Learn more about Vercel's Managed Infrastructure</span>
          </li>
          <li class="highlights__item">
            <span class="highlights__icon">🛡️</span>
            <span class="highlights__text">Learn how Vercel protects your applications</span>
          </li>
        </ul>
        <div class="highlights__cta">
          <p class="highlights__cta-text">
            Learn how to securely build, deploy, and scale the best web experiences with Vercel.
          </p>
          <button class="highlights__cta-button">Get a Demo</button>
        </div>
      </aside>
    </div>
  </section>