$color-background: #000;
$color-text: #fff;
$color-accent: #6b6b6b;
$color-accent-darkness: #989797;
$color-border: rgba(255, 255, 255, 0.2);
$speakers-border-color: rgba(255, 255, 255, 0.1);

$font-family: Arial, sans-serif;
$spacing-unit: 1rem;

$font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-mono-fallback: "Roboto Mono", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

$color-footer-bg: #000;
$color-footer-text: #EDEDED;
$color-icon-hover: #fff;
$spacing-small: 15px;
$icon-size: 24px;

$main-content-padding: 10px;
$main-content-max-width: 1200px;
$main-content-gap: 40px;