<main class="main-content" role="main">

    <div class="main-content__wrapper">

        <section class="main-content__section" aria-labelledby="main-title" tabindex="0">
            <app-video></app-video>
            <app-session></app-session>
            <app-sessions [sessions]="sessionsActive" (videoClick)="handleVideoClick($event)"></app-sessions>
            <app-speakers></app-speakers>
            <app-wide-section [navLinksWideSession]="navLinksWideSession"></app-wide-section>
        </section>
      
    </div>

</main>